.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
    text-align: center;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

button:hover {
    opacity: 0.9;
    filter: alpha(opacity=100);
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-right: 0;
    
}

.amenities {
    height: 100%;
    width: 25%;
    margin-right: auto;
}

.title {
    margin-bottom: 0;
    margin-left: 15%;
    text-align: left;
    font-weight: 600;
}

.subtitle {
    margin-top: 0;
    margin-left: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;

}