footer {
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC
    text-align: center;
    vertical-align: middle
    line-height: 60px
}
