.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}